.emy1-icon {
  background: url(../images/emy1-icon.png) center center no-repeat;
  width: 103px;
  height: 80px; }

.emy2-icon {
  background: url(../images/emy2-icon.png) center center no-repeat;
  width: 135px;
  height: 80px; }

.emy3-icon {
  background: url(../images/emy3-icon.png) center center no-repeat;
  width: 88px;
  height: 41px; }

.emy4-icon {
  background: url(../images/emy4-icon.png) center center no-repeat;
  width: 89px;
  height: 80px; }

.emy5-icon {
  background: url(../images/emy5-icon.png) center center no-repeat;
  width: 99px;
  height: 81px; }

.emy6-icon {
  background: url(../images/emy6-icon.png) center center no-repeat;
  width: 106px;
  height: 70px; }

.emy7-icon {
  background: url(../images/emy7-icon.png) center center no-repeat;
  width: 73px;
  height: 80px; }

.emy8-icon {
  background: url(../images/emy8-icon.png) center center no-repeat;
  width: 79px;
  height: 81px; }

.emy9-icon {
  background: url(../images/emy9-icon.png) center center no-repeat;
  width: 80px;
  height: 62px; }
