/*--reset css--*/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,textarea {
  margin: 0;
  padding: 0;
}
ol, ul {
  list-style: none; }
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
html{
	background:#fff;
    color: #000;
	 font-size: 100%; 
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
b,strong {
    font-weight: bold;
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
blockquote,q {
    quotes: none;
}
q:before,
q:after,blockquote:before,blockquote:after {
    content: '';
    content: none;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
button,
input,
select,
textarea {
	font-size:100%;
    vertical-align: baseline; 
    *vertical-align: middle; 
}
small {
    font-size: 80%;
}
svg:not(:root) {
    overflow: hidden;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    white-space: normal; 
    *margin-left: -7px; 
}

button,
select {
    text-transform: none;
}
button,
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; 
    cursor: pointer; 
    *overflow: visible; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; 
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
 img{
	vertical-align:top;
	border: 0;
	-ms-interpolation-mode: bicubic; 
 }
 textarea{
	overflow:auto;
	resize: vertical;
 }
/*cell style*/
.fix{*zoom:1;}
.fix:before,
.fix:after {
    content: " "; 
    display: table;
}
.fix:after {
    clear: both;
}
.fl {float: left; display:inline;}.fr {float: right;display:inline; }
.fl_l{float: left; display:inline;_margin-right:-3px;}.fl_r{float:right; display:inline;_margin-left:-3px;}
.suit{ display: table-cell;width: 2000px;*width:auto;*display:inline-block;}
.autfit{overflow:hidden;_overflow:visible;_zoom:1;}

/*default element style*/
input:focus,textarea:focus{outline:none;}
body,
pre,
button,
input,
select,
textarea {/*\5FAE\8F6F\96C5\9ED1=microsoft yahei,\5b8b\4f53=song ti*/
    font-family:Tahoma,Arial,\5b8b\4f53;
}
